#error{
    background-color: white;
    overflow:hidden;
    resize: none;
    margin-top: 3px;
    color: tomato;
    border: white;
    height: 25px;
    width: 45;
}

#tabla{
    border: tomato solid 1px;
}

.MisItem{
    margin: 5px;
}

table{
    padding-right: 5px;
}

th, td {
    width: 10%;
    text-align: left;
    
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
 }